html,body
{
    background-color:rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.my-footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-color: rgb(29, 31, 32);
}

.my-content{
    padding-bottom: 350px;
}

#one
{
    color: white;
}

.my-background{
    background-color: rgb(29, 31, 32);
    padding-bottom: 10px;
}

.navbar-nav .dropdown-menu{
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: rgba(57, 61, 65, 0.952);
    border: 1px solid rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-nav .dropdown-menu .dropdown-item{
    padding: 6px 20px;
    color: rgba(255,255,255,0.80);
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus{
    color: rgba(255,255,255,0.70);
    text-decoration: none;
    background-color: transparent;
}



@media (max-width: 400px) {
    .my-content {
      padding-bottom: 0px;
    }
    .my-footer {
      position: relative;
      bottom: auto;
      left: auto;
      height: auto;
    }
  }

