.my-row
{
    background-color:rgb(235, 235, 235);
    display: flex;
    margin: auto;
}

.my-col
{
    text-align: center;
    margin:auto;
}

.img-center {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    
}

img
{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 75%;
    max-width: 100%;
}

h3{
    text-align: center;
}

.about-us-image{
    padding-top: 60px;
}