.my-container3 {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.error {
    color: red;
    font-size: 16px;
    margin-bottom: 5px;
}

.inputError {
    border-color: red;
}

/* .form-control{
    width: 30% !important;
} */

.individual-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px
}

button {
    display: inline;
}

label {
    font-size: 18px;
}